@model PresentationLayer.Models.ViewModels.BookFlightViewModel
@using Domain.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<Domain.Models.AuthenticatedUser> UserManager

@{
    ViewData["Title"] = "Book";

    var user = ((AuthenticatedUser)await UserManager.GetUserAsync(User));
    string passport = user?.Passport ?? "";

    bool isAuthenticated = User.Identity.IsAuthenticated;
    bool isPassportEmpty = !string.IsNullOrEmpty(passport);
}

<h1>Booking</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Book" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group disabled">
                <label asp-for="Row" class="control-label"></label>
                <input asp-for="Row" class="form-control" value="@Model.Row" readonly />
                <span asp-validation-for="Row" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group disabled">
                <label asp-for="Column" class="control-label"></label>
                <input asp-for="Column" class="form-control" value="@Model.Column" readonly/>
                <span asp-validation-for="Column" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group disabled">
                <label class="control-label">Flight to:</label> 
                @foreach (var flight in Model.Flights)
                {
                    @if (flight.Id == Model.FlightIdFK && flight.DepartureDate > DateTime.Now)
                    {
                        <input type="text" class="form-control" value="@flight.CountryTo" readonly />
                    }
                }
                <input type="hidden" name="FlightIdFK" value="@Model.FlightIdFK" />
                <span asp-validation-for="FlightIdFK" class="text-danger"></span>
            </div>
            <br />

                <div class="form-group">
                    <label asp-for="Passport" class="control-label">Passport</label>
                    @if (!isPassportEmpty)
                    {
                        <input asp-for="Passport" class="form-control" required />
                    }
                    else if (isAuthenticated)
                    {
                        <input asp-for="Passport" class="form-control" value="@passport" readonly="readonly" required/>
                    }
                    <span asp-validation-for="Passport" class="text-danger"></span>
                </div>
            <br/>
            <div class="form-group">
                <label asp-for="PassportImage" class="control-label">Passport Image</label>
                <input type="file" name="ImageFile" class="form-control" />
                <span asp-validation-for="PassportImage" class="text-danger"></span>
            </div> 
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

