@model PresentationLayer.Models.ViewModels.ListFlightsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Flight Details</h1>

<div>
    <h4>List of Flights</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RetailPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RetailPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isFullyBooked)
        </dt>
        <dd class="col-sm-10">
            @if (Model.isFullyBooked)
            {
                <span>Yes</span>
            }
            else
            {
                <span>No</span>
            }
        </dd>
    </dl>
</div>
<div>
    <div class="mt-4">
        @if (!User.Identity.IsAuthenticated)
        {

            <span>
                <a href="@Url.Action("SeatingPlan", "Tickets", new { flightId = Model.Id })" class="btn btn-primary">
                    Book
                </a>
                <a href="~/Identity/Account/Login" class="btn btn-outline-primary">
                    Login to Book
                </a>
                <a href="~/Identity/Account/Register" class="btn btn-outline-primary">
                    Register to Book
                </a>
            </span>
        }
        else
        {
            <a href="@Url.Action("SeatingPlan", "Tickets", new { flightId = Model.Id })" class="btn btn-primary">
                Book
            </a>
        }
    </div>
</div>
