@model PresentationLayer.Models.ViewModels.SeatingPlanViewModel

@{
    ViewData["Title"] = "SeatingPlan";
}

<h1>Flight's Seating Plan</h1>
<hr />

<div class="row">
    <div class="col-md-21">
        <form asp-action="SeatingPlan" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @for (int row = 1; row <= Model.MaxRows; row++)
            {
                <div>
                    @for (int col = 1; col <= Model.MaxCols; col++)
                    {
                        var seatId = row + "," + col;

                        <span style="margin-right: @(col == 3 ? 65 : 7.5)px;">
                            <input type="hidden" name="SelectedSeat" value="@seatId" />
                            @if (Model.Seats.SingleOrDefault(x => x.Id == seatId).IsBooked)
                            {
                                <a href="@Url.Action("Book", "Tickets", new { flightId = Model.FlightIdFK })" class="btn btn-disabled special-btn">@seatId</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Book", "Tickets", new { flightId = Model.FlightIdFK, selectedRow = row, selectedColumn = col })" class="btn btn-active special-btn">@seatId</a>
                            }
                        </span>
                    }
                </div>
                <br />
            }

            <input type="hidden" name="FlightIdFK" value="@Model.FlightIdFK" />

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
